@charset "utf-8";
#bird-box{
    width: 60%;
    height: 450px;
    border: 1px solid #000;
    margin: 0 auto;
    position: relative;
    background: url(./images/bg.jpg) repeat-x ;
    background-position-x : 0px ;
}
/* 小鸟的样式 */
#bird{
    width: 50px;
    height:50px;
    background: #000;
    position: absolute;
}